<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %>
</head>
<body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores nobis ullam ex? Facilis hic obcaecati enim sed asperiores! Praesentium corrupti nulla nostrum quod suscipit quis consequatur sapiente magni perspiciatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deserunt sunt animi necessitatibus explicabo voluptatem et facere cupiditate. Consectetur, vero cumque dolores beatae officia cum mollitia nobis temporibus quisquam culpa?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum perferendis dolorum quae, quas exercitationem molestias reiciendis facere numquam aspernatur, explicabo a. Itaque doloribus pariatur quo blanditiis optio ducimus repudiandae fugit.</p>
        
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>